{% extends 'base.html'%}


{% block head %}
<title>About Page </title>
{% endblock%}


{% block body %}
<br>
<hr>
<hr>
<br>
<article class="about"> 
    My name is Innocent Israel Oduduabasi, the founder of IziWriter Blog. Iziwriter is a blog where 
    writers can post articles that are of public importance and educative content. 
    IziWriter will in the next few days be an open source project. We look foward to having this site 
    well improved for writers.
</article>
<br>
<hr>
<hr>
{% endblock %}