{% extends 'base.html' %}
{% block head %} <title>Login</title>{% endblock%}



{% block body %}

<form action="/login" method="POST">
    <div>
        <center><h1 style="display: inline" >Login </h1></center>
    </div>
    <br>
    <label for="title">Email</label>
    <input class="form-control" type="text" name="email" id="title" placeholder="Enter Email" aria-label="Enter Email">
    <br>
    <label for="content">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password"
        aria-label=" Enter Password">
    <br>
    <input type="submit" value="Login" class="bg-primary ">
    <div class="form-group">
            <small>
                Do not have an account, <a href="{{url_for('register')}}">Create One</a>
            </small>
        </div>
</form>
<hr>

{% endblock %}